.card {


    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.card div{
    width: 80%;
    text-align: center;
    border: 2px solid #000;
    border-radius: 4px;
    background-color: slategrey;
    gap: 16px;

}
.card div h2 {
    text-shadow: 2px 2px 5px red;
    color: white;
}