.button{

    font-size: 35px;
    background-color: slategrey;
    color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px red;

}

