.t{
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #222;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}
.table{
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
}
.table  th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: lightgrey;
    text-shadow: 2px 2px 5px red;
}

.table tr:nth-child(even) {
    background-color: #333;
}
